<div class="row my-3">
    <div class="col success-info recycle-device-selection">
        <div class="row success-title m-3 text-center recycle-device-title">
            <div class="col">
                <div class="success-logo"><i class="bi bi-check-circle"></i></div>
                <div class="thank-text text-center">Thank You! Your request <strong>#{{txnId}}</strong> is confirmed.</div>
            </div>
        </div>
        <div class="row m-5 text-center">
            <div class="col-md-6">
                <div class="redirectShopping">
                    <button class="btn btn-primary float-end" (click)="redirectToShoppingCart();">Continue Shopping</button>
                </div>
            </div> 
            <div class="col-md-6">
                <div class="createNewRequest">
                    <button class="btn btn-secondary float-start" routerLink="web/customer/recycle-product">Create New Request</button>
                </div>
            </div>
        </div>
    </div>
</div>
