<div class="row">
    <div class="col">
        <div class="row tab-title">
            <h5>Address Book</h5>
        </div>
        <div class="row tab-subtitle">
            <h5>Edit Address</h5>
            <hr>
        </div>
        <div class="row tab-content">
            <div class="row mb-3">
                <div class="col-md-6 float-start">
                    <div class="form-group">
                        <label for="contactName" class="mb-2">Address Line 1:*</label>
                        <input type="text" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-6 float-start">
                    <div class="form-group">
                        <label for="contactName" class="mb-2">Address Line 2:*</label>
                        <input type="text" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 float-start">
                    <div class="form-group">
                        <label for="contactName" class="mb-2">Pincode:*</label>
                        <input type="text" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-6 float-start">
                    <div class="form-group">
                        <label for="contactName" class="mb-2">City:*</label>
                        <input type="text" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 float-start">
                    <div class="form-group">
                        <label for="contactName" class="mb-2">State:*</label>
                        <input type="text" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-6 float-start">
                    <div class="form-group">
                        <label for="contactName" class="mb-2">Country:*</label>
                        <input type="text" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col float-start">
                    <div class="form-group float-end">
                        <button class="btn btn-primary float-end">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
